{{- if .Site.Params.share.enable }}
<div class="share-buttons">
    {{- if .Site.Params.share.twitter }}
    <a href="https://twitter.com/intent/tweet?text={{ .Title }}&url={{ .Permalink }}" target="_blank" rel="noopener noreferrer" class="share-button twitter">
        <i class="fab fa-twitter"></i>
    </a>
    {{- end }}
    {{- if .Site.Params.share.linkedin }}
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}" target="_blank" rel="noopener noreferrer" class="share-button linkedin">
        <i class="fab fa-linkedin"></i>
    </a>
    {{- end }}
    {{- if .Site.Params.share.facebook }}
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" rel="noopener noreferrer" class="share-button facebook">
        <i class="fab fa-facebook"></i>
    </a>
    {{- end }}
</div>
{{- end }} 